<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talabalar</title>
</head>
<body>
<h1>talabalar</h1>
<hr>
<form>
    <input type="text"  name="search" placeholder="ism kiriting" {% if search %} value="{{search}}"{% endif %}>
    <button>search</button>
</form>
<hr>
    {% for talaba in talabalar%}
    <p>{{forloop.counter}}.
        <a href="/talaba/{{talaba.id}}/">
            {{talaba.ism}}
        </a>
        <a href="/talabalar/{{talaba.id}}/update/">
            <button>
                Tahrirlash
            </button>
        </a>
        <a href="/talabalar/{{talaba.id}}/delete/">
            <button>
                o'chirish
            </button>
        </a>
    </p>
    {%endfor%}
<a href="/">bosh sahifa</a>
<a href="/">ortga</a>

<hr>
<h3>yangi talaba qoshish</h3>
<form method="post">
    {%csrf_token%}
    <label for="ism">ism:</label>
    <input id="ism" type="text" name="ism"required>
    <br><br>
    <label for="guruh">guruh:</label>
    <input id="guruh" type="text" name="guruh"required>
    <br><br>
    <label for="kurs">kurs:</label>
    <input id="kurs" type="number" name="kurs" value="1"required>
    <br><br>
    <label for="kitob soni">kitob soni:</label>
    <input id="kitob soni" type="number" name="kitobi_soni" value="0">
    <br><br>
    <button>
        Qoshish
    </button>
</form>
</body>
</html>